<!--<md-icon class="favorite-star" ng-class="favoriteStar" ng-click="starClick()"
         ng-show="favoriteLeft">
  {{ favoriteIcon }}
</md-icon>-->
<md-icon class="rating-fire" ng-click="rate = 1" ng-class="{rated: rate >= 1}">
  whatshot
</md-icon>
<md-icon class="rating-fire" ng-click="rate = 2" ng-class="{rated: rate >= 2}">
  whatshot
</md-icon>
<md-icon class="rating-fire" ng-click="rate = 3" ng-class="{rated: rate >= 3}">
  whatshot
</md-icon>
<md-icon class="rating-fire" ng-click="rate = 4" ng-class="{rated: rate >= 4}">
  whatshot
</md-icon>
<md-icon class="rating-fire" ng-click="rate = 5" ng-class="{rated: rate >= 5}">
  whatshot
</md-icon>
<!--<md-icon class="favorite-star" ng-class="favoriteStar" ng-click="starClick()"
         ng-hide="favoriteLeft">
  {{ favoriteIcon }}
</md-icon>-->
