<div layout="row">
  <div layout="column">
    <div flex>
      <md-icon class="rating-fire" ng-click="setRate(1)" ng-class="{rated: rate >= 1}">
        whatshot
      </md-icon>
      <md-icon class="rating-fire" ng-click="setRate(2)" ng-class="{rated: rate >= 2}">
        whatshot
      </md-icon>
      <md-icon class="rating-fire" ng-click="setRate(3)" ng-class="{rated: rate >= 3}">
        whatshot
      </md-icon>
      <md-icon class="rating-fire" ng-click="setRate(4)" ng-class="{rated: rate >= 4}">
        whatshot
      </md-icon>
      <md-icon class="rating-fire" ng-click="setRate(5)" ng-class="{rated: rate >= 5}">
        whatshot
      </md-icon>
    </div>
  </div>
</div>