<md-content>

<div layout="row" ng-show="responseReceived">
    <md-card class="podcast-detail-card" flex-offset="5" flex="90" flex-gt-md="60" flex-offset-gt-md="20"><md-content>

      <span layout="row">

        <md-card-title flex="50">

          <md-card-title-text>
            <span class="md-headline">
              {{ podcast.name }}
              <rating rate="avgRating" interactive="false" ng-show="ratingReceived"></rating>
            </span>
          </md-card-title-text>

        </md-card-title>

        <md-card-actions flex="50">

          <span layout="row" layout-align="end start" ng-show="$user.auth">
            <md-button class="md-raised md-primary"
              ui-sref="add-episode({ podcastId: podcastId })">Add Episode</md-button>
          </span>

        </md-card-actions>

      </span>

      <md-content layout="row" ng-show="responseReceived">
        <md-tabs md-dynamic-height md-border-bottom flex="100">
          <md-tab label="Description">
            <md-content class="md-padding">

              {{ podcast.description }}

            </md-content>
          </md-tab>
          <md-tab ng-attr-label="{{ 'Episodes (' + numEpisodes + ')' }}">
            <md-content class="md-padding">

             <div layout="row" ng-repeat="episode in episodes | orderBy: '_source.number'">
                <md-card class="podcast-episode-card">

                    <md-card-title>

                      <md-card-title-text>
                        <span class="md-headline">Episode {{ episode._source.number}} - {{ episode._source.name }}</span>
                      </md-card-title-text>
                      
                    </md-card-title>

                    <md-card-content ng-bind-html="episode._source.description">
                    </md-card-content>

                    <md-card-actions layout="row" layout-align="end center">
                      <md-button class="md-raised md-primary" 
                        ui-sref="episodes({ episodeId: episode._id })">View</md-button>
                    </md-card-actions>

                </md-card>
              </div>

            </md-content>
          </md-tab>
          <md-tab ng-attr-label="{{ 'Reviews (' + numReviews + ')' }}">
            <md-content class="md-padding">

             <div layout="row" ng-repeat="review in reviews">
                <md-card class="podcast-review-card">

                    <md-card-title>
                      
                      <md-card-title-text>
                        <span class="md-headline">{{ review._source.userName }}</span>
                        <span class="md-headline">
                          <rating rate="review._source.rating" interactive="false"></rating>
                        </span>
                      </md-card-title-text>
                      
                    </md-card-title>

                    <md-card-content ng-bind-html="review._source.content">
                    </md-card-content>

                </md-card>
              </div>

            </md-content>
          </md-tab>

          <md-tab label="Write a Review" ng-disabled="!$user.auth">

            <md-content class="md-padding">

             <div layout="row">
                <md-card class="podcast-review-card" layout="column">

                    <md-card-title>
                      
                      <rating class="write-review-rating" rate="review.rating" interactive="true"></rating>
                      
                    </md-card-title>

                    <form name="form" ng-submit="submit()" novalidate>
                      
                      <md-input-container class="write-review-field">

                        <label>Review</label>
                        <textarea 
                          name="review"
                          id="review"
                          ng-model="review.content"
                          md-maxlength="500"
                          rows="5"
                          md-select-on-focus
                          required></textarea>

                      </md-input-container>

                      <div class="form-error-box" ng-show="form.description.$invalid && form.description.$dirty">

                        <div class="form-error-message" ng-show="form.description.$error.required">
                          This field is required
                        </div>

                      </div>

                      <div flex>
                        <div layout="row" layout-align="end center">

                          <md-button
                            class="md-raised md-primary add-podcast-submit"
                            type="submit"
                            ng-disabled="form.$invalid">
                            Submit
                          </md-button>

                        </div>
                      </div>

                    </form>


                </md-card>
              </div>

            </md-content>
          </md-tab>
        </md-tabs>
      </md-content>

  </md-card>
</div>

</md-content>