* {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
}

.title {
  margin-top: 10px;
  margin-bottom: 5px;
}

.sub-title {
  margin-top: 5px;
  margin-bottom: 5px;
}

.home-title {
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: normal;
}

.zen-card {
  margin-top: 30px;
  padding: 20px;
}

.zen-text {
  font-weight: normal;
}

.text-center {
  text-align: center;
}

.mentor {
  padding-top: 10px;
  padding-bottom: 10px;
}

md-input-container {
  margin: 0px !important;
}

.login-card {
  padding-top: 25px;
  padding-bottom: 25px;
  margin-top: 10px;
}

.login-field {
  margin-left: 15px !important;
  margin-right: 15px !important;
}

.login-submit {
  margin-right: 15px !important;
}

.sign-up-card {
  margin-top: 20px;
  padding: 20px;
}

.sign-up-field {
  margin-left: 15px !important;
  margin-right: 15px !important;
  width: calc(100% - 30px);
}

.sign-up-submit {
  margin-right: 15px !important;
}

.form-error-box {
  width: calc(100% - 60px);
  background: #EF9A9A;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  padding: 15px;
}

.form-error-message {
  color: white !important;
}