<md-card class="recommendations-card" md-colors="{background: 'default-primary-hue-2'}">

  <div layout="row" layout-margin="10">

    <div layout="column" flex="100">
      <h2 class="text-center home-title">Recommended for You</h2>
    </div>

  </div>

  <div class="spinner" layout="row" layout-align="space-around" ng-show="waiting">
    <md-progress-circular md-diameter="96"></md-progress-circular>
  </div>

  <div ng-repeat="row in rows">
    <div class="wrapper" layout="row" layout-align="space-around" layout-wrap layout-margin="15" ng-show="!waiting">

      <md-card class="recommended-podcast-card row-item" ng-repeat="podcast in row" flex="30">

        <md-card-title>

          <md-card-title-text>
            <span class="md-headline recommended-podcast-title" ng-bind-html="podcast._source.name"></span>
          </md-card-title-text>

        </md-card-title>

        <md-card-content ng-bind-html="podcast._source.description">
        </md-card-content>

        <md-card-actions layout="row" layout-align="end center">
          <md-button class="md-raised md-primary"  ui-sref="podcasts({ podcastId: podcast._id })">View</md-button>
        </md-card-actions>

      </md-card>

    </div>
  </div>

</md-card>