<div layout="row">
  <div flex>

    <h1 class="text-center page-title">Login</h1>

  </div>
</div>
<div layout="row">
  <div flex="90" flex-offset="5" flex-gt-xs="80" flex-offset-gt-xs="10" flex-gt-sm="60" flex-offset-gt-sm="20" flex-gt-md="40" flex-offset-gt-md="30">

    <md-card ng-show="!user.auth" class="login-card" layout="column">

      <form name="form" ng-submit="submitForm()" novalidate>

        <md-input-container class="login-field">
          <label>Email Address</label>

          <input
            type="email"
            name="email"
            id="email"
            ng-model="user.email"
            required>
        </md-input-container>

        <div class="form-error-box" ng-show="form.email.$invalid && form.email.$dirty">

          <div class="form-error-message" ng-show="form.email.$error.required">
            This field is required
          </div>

          <div class="form-error-message" ng-show="form.email.$error.email">
            Must be a valid email address
          </div>

        </div>

        <md-input-container class="login-field">
          <label>Password</label>
          <input
            ng-model="user.password"
            type="password"
            name="password"
            required>
        </md-input-container>

        <div class="form-error-box" ng-show="form.password.$invalid && form.password.$dirty">
          <div class="form-error-message" ng-show="form.password.$error.required">
            This field is required
          </div>
        </div>

        <div class="form-error-box" ng-show="error">
          <div class="form-error-message" ng-show="error">
            {{ errorMessage }}
          </div>
        </div>

        <div flex>
          <div layout="row" layout-align="end center">

            <!--<div class="fb-login-button" data-max-rows="1" data-size="medium" data-show-faces="false" data-auto-logout-link="false"></div>-->
            <fblogin></fblogin>
            <!-- tsnhuaoe -->

            <md-button
              class="md-raised md-primary login-submit"
              type="submit"
              ng-disabled="form.$invalid">
              Log In
            </md-button>

          </div>
        </div>

      </form>
      
    </md-card>
      
  </div>
</div>
