<h1 class="text-center page-title search-header">Results for "{{ query }}"</h1>

<div layout="row" layout-align="center">
  <div flex="90">

    <md-content layout="row" ng-show="responseReceived">
      <md-tabs md-dynamic-height md-border-bottom  flex="90" flex-offset="5" flex-gt-md="60" flex-offset-gt-md="20">
        <md-tab ng-attr-label="{{ 'Podcasts (' + numPodcastHits + ')' }}">
          <md-content class="md-padding">

            <div layout="row" ng-repeat="podcast in podcastHits">
              <md-card class="search-result-card">

                  <md-card-title>

                    <md-card-title-text>
                      <span class="md-headline" ng-bind-html="podcast._source.name"></span>
                    </md-card-title-text>

                  </md-card-title>

                  <md-card-content ng-bind-html="podcast._source.description">
                  </md-card-content>

                  <md-card-actions layout="row" layout-align="end center">
                    <md-button class="md-raised md-primary"  ui-sref="podcasts({ podcastId: podcast._id })">View</md-button>
                  </md-card-actions>

              </md-card>
            </div>

          </md-content>
        </md-tab>
        <md-tab ng-attr-label="{{ 'Episodes (' + numEpisodeHits + ')' }}">
          <md-content class="md-padding">

            <div layout="row" ng-repeat="episode in episodeHits">
              <md-card class="search-result-card">

                  <md-card-title>

                    <md-card-title-text>
                      <span class="md-headline" ng-bind-html="episode._source.name"></span>
                    </md-card-title-text>
                    
                  </md-card-title>

                  <md-card-content ng-bind-html="episode._source.description">
                  </md-card-content>

                  <md-card-actions layout="row" layout-align="end center">
                    <md-button class="md-raised md-primary" 
                      ui-sref="episodes({ episodeId: episode._id })">View</md-button>
                  </md-card-actions>

              </md-card>
            </div>

          </md-content>
        </md-tab>
      </md-tabs>
    </md-content>

  </div>
</div>