<div layout="row">
  <div flex>

    <h1 class="text-center">Sign Up</h1>

  </div>
</div>
<div layout="row">
  <div flex="40" flex-offset="30">

    <md-card class="sign-up-card" layout="column">

      <form name="signUpForm" ng-submit="submitForm()" novalidate>

        <md-input-container class="sign-up-field">
          <label>Name</label>
          <input type="text" ng-model="user.name">
        </md-input-container>

        <md-input-container class="sign-up-field">
          <label>Email Address</label>
          <input type="text" ng-model="user.email">
        </md-input-container>
      
        <md-input-container class="sign-up-field">
          <label>Password</label>
          <input ng-model="user.password" type="text">
        </md-input-container>

        <md-input-container class="sign-up-field">
          <label>Confirm Password</label>
          <input ng-model="user.confirmPassword" type="password">
        </md-input-container>

        <div flex>
          <div layout="row" layout-align="end center">

            <md-button type="submit" class="md-raised md-primary sign-up-submit">Submit</md-button>

          </div>
        </div>

      </form>
      
    </md-card>
      
  </div>
</div>